section.section-outer.blog 
  .blog__wrapper 
    .blog__title Our Blog Posts
    .blog__subtitle We are an online plant shop offering a wide range of cheap and trendy plants. 
    div.posts
      div.posts__wrapper
        img.posts__img(title="Cactus" alt="Цветы" src="images/content/blog-image1.png")
        div.posts__date September 12 | I Read in 6 minutes
        h3.posts__title Cactus !{"&"} Succulent !{"<br>"} Care Tips
        .posts__text Cacti are succulents are easy care plants for any home or patio. 
        a.posts__href(href="#") Read More
          svg.svg__blog-arrow
            use(xlink:href="images/icons/icons.svg#blog-arrow")
      div.posts__wrapper
        img.posts__img(title="Cactus" alt="Цветы" src="images/content/blog-image2.png")
        div.posts__date September 12 | I Read in 6 minutes
        h3.posts__title Cactus !{"&"} Succulent !{"<br>"} Care Tips
        .posts__text Cacti are succulents are easy care plants for any home or patio. 
        a.posts__href(href="#") Read More
          svg.svg__blog-arrow                 
            use(xlink:href="images/icons/icons.svg#blog-arrow")
      div.posts__wrapper
        img.posts__img(title="Cactus" alt="Цветы" src="images/content/blog-image3.png")
        div.posts__date September 12 | I Read in 6 minutes
        h3.posts__title Cactus !{"&"} Succulent !{"<br>"} Care Tips
        .posts__text Cacti are succulents are easy care plants for any home or patio. 
        a.posts__href(href="#") Read More
          svg.svg__blog-arrow                                  
            use(xlink:href="images/icons/icons.svg#blog-arrow")
      div.posts__wrapper
        img.posts__img(title="Cactus" alt="Цветы" src="images/content/blog-image4.png")
        div.posts__date September 12 | I Read in 6 minutes
        h3.posts__title Cactus !{"&"} Succulent !{"<br>"} Care Tips
        .posts__text Cacti are succulents are easy care plants for any home or patio. 
        a.posts__href(href="#") Read More
          svg.svg__blog-arrow
            use(xlink:href="images/icons/icons.svg#blog-arrow")